doctype html
html(lang="en")
    head
        link(rel="stylesheet", type="text/css", href='./css/map.css')
        link(rel="stylesheet", type="text/css", href='./css/box.css')
        title= "ALTTP Tracker"
    body(scrolling="no")
        div(class='header') 
            div(class='text') Link To The Past Randomizer Tracker Ver 0.1
        div(class='mapholder')
            div(class='map lightworld')
              div(class='draggable')
            div(class='switch') Dark World
        script(language="javascript", src="./scripts/map.js")
        script(language="javascript") new Map()
