body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.mapholder {
  margin: 15px;
  background-color: #999999;
  z-index: 10001;
  width:calc(~"100% - 30px");
  height:calc(~"100% - 30px");
  top:0;
  left:0;
  position: absolute;
  overflow: hidden;
  .map {
    &.lightworld {
      background-image: url('../assets/lightworld.png')
    }
    &.darkworld {
      background-image: url('../assets/darkworld.png')
    }
    width: 2007px;
    height: 2007px;
    position: absolute;
    overflow: hidden;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
      }
  }
  .switch {
    &:before {
      content: "Switch To ";
    }
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 0 10px 0 0;
  }
}
  
.header {
  .text {
    display: inline-block;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 0 0 10px 10px;
  }
  top:0;
  left:0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index:10002;
  pointer-events: none;
}


